<footer>
    <section>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-12 col-md-3">
                    <h2 class="productosTitulo">CONTACTANOS</h2>  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto facilis quam dolorem aliquam odio atque ad iusto cumque officiis voluptatem magnam exercitationem reiciendis voluptatum, quos a aliquid, dignissimos obcaecati. </p>
                </div>
                <div class="col-12 col-md-5 text-center">
                    <h2 class="productosTitulo">HORARIOS DE COCINA</h2>  
                    <ul>
                        <li>Martes a Jueves: <br> 12:00- 2:30 pm y de 6:30 – 10:30 pm</li>
                        <li>Viernes y Sábado: <br> 12:00- 3:00 pm y de 6:30 – 11:00 pm</li>
                        <li>Reserva ahora</li>
                    </ul>
                    <img src="../static/img/Logo2.png" alt="" class=""  width="200" height="200">
                </div>
                <div class="col-12 col-md-4">
                    <h2 class="productosTitulo">VISITANOS</h2>  

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4354380170357!2d-75.56651318589547!3d6.206152228494536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468282967b8d1f%3A0x5c2560d370ddc4dd!2sOCI.mde!5e0!3m2!1ses-419!2sco!4v1667519360123!5m2!1ses-419!2sco" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>

            </div>
        </div>
    </section>


</footer>
